#!/usr/bin/env sh

CURSOR_PATH="/usr/bin/cursor"

FEDORA_KDE_PATH="$HOME/fedora-kde"
SCRIPTS_PATH="$FEDORA_KDE_PATH/scripts"

# Copy to clipboard on Wayland.
alias cb="wl-copy"

# Update system packages, flatpaks, and snaps.
alias update="sudo dnf up -y && flatpak update -y && sudo snap refresh"

# Enables the cursor command to open files or directories through the terminal.
cursor() {
	"$CURSOR_PATH" --no-sandbox "$@"
}

# Start a systemd service.
start() {
  sudo systemctl start "$@"
}

# Stop a systemd service.
stop() {
  sudo systemctl stop "$@"
}

# Update versioned Plasma config.
konsave_push() {
	"$SCRIPTS_PATH/konsave-push.sh" "$@"
}

# Commit and push changes to tracked Plasma config.
konsave_pull() {
	"$SCRIPTS_PATH/konsave-pull.sh" "$@"
}

# Apply a theme to Plasma, Konsole, and KWrite.
theme() {
	"$SCRIPTS_PATH/theme.sh" "$@"
}